h1 {
    color: rgb(67, 6, 6);
    font-size: 40px;
    font-family: "Playfair Display", serif;

}
p {
    font-size: 22px;
    font-family: "Playfair Display", serif;
}

.container {
  display: flex;
  align-items: center; /* alinha verticalmente */
  gap: 15px; /* espaço entre imagem e texto */

}

.inicio {
    font-size: 30px;
}

html {
    background-color: rgb(227, 227, 238);
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header .container1 {
  display: flex;
  justify-content: flex-end; /* move os itens para a direita */
  align-items: center;       /* centraliza verticalmente */             
  background-color: rgb(67, 6, 6);
  font-size: 30px;
}

.logo {
  color: rgb(198, 9, 56);
  font-size: 32px;
  margin: 0;
}

.menu a {
  color: #ccc;
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
}

.menu a:hover {
  color: white;
}

.bloco2 {
    background-color: black;
    font-size: 70px;
    color: #ccc;
    font-family: "Playfair Display", serif;
}

section article h1 {
    margin-left: 70px;
}

.imagem {
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0;
}

footer, h2 {
  background-color: rgb(67, 6, 6);
  color: #ccc;
  font-size: 20px;
  
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}
#rodape {
  position: relative;
  padding: 40px 0;
}

/* imagem colada na esquerda */
.imgInter {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.imgInter img {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

/* conteúdo centralizado */
.final {
  display: flex;
  justify-content: center; /* centraliza horizontal */
}

.conteudo {
  text-align: center; /* centraliza texto */
  max-width: 500px;
}