.bodyHome p::first-letter {
    color: rgb(102, 14, 14);
    font-size: 40px;
}

form input:focus{
    background-color: rgb(124, 67, 67);
}
.bodyContato::selection{
    background-color: rgb(124, 67, 67);
    color: white;
}
.bodyContato .cards div:nth-child(2){
    background-color: rgb(102, 14, 14);
    color: white
}


// galeria

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tipo {
    opacity: 1;
    transform: translateY(30px);
    animation: aparecer 0.8s ease forwards;
}

.tipo:nth-child(2n + 1){
    background-color: rgb(102, 14, 14);
    color: white;
}
.tipo h3{
    color: black;
}

