/* Aplicando nth-child(even) e nth-child(odd) */
.produtos .produto:nth-child(odd) {
  background-color: #fcebeb96;
  border-color: #641d1d;
}

.produtos .produto:nth-child(even) {
  background-color: #ffffff;
  border-color: #f12e0b;
}

/* Tabela destacada linha sim e linha não */
.tabela-produto tr:nth-child(even) {
  background-color: #f5dada;
}

.tabela-produto tr:nth-child(odd) {
  background-color: #ffffff;
}

.tabela-produto tr:last-child {
  font-weight: bold;
  border-top: 2px solid #b06060;
}

/* Pseudo-elemento ::before */
.produtes h2::before {
  content: "🍷 ";
}

/* Pseudo-elemento ::after */
.produto h3::after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background-color: #b06060;
  margin: 6px auto 0 auto;
}

/* Pulsar oo botão Comprar agora */
@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

/* Notei que sem isso a animação fica tão nítido */
.produto button {
  animation: pulsar 1.5s infinite;
  -webkit-font-smoothing: antialiased;
  transform: translateZ(0);
}
